
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Dart tool
.dart_tool/chrome-device/
.dart_tool/flutter_build/

# Node
/functions/node_modules

# Firebase cache
.firebase/
